.tasks {
    width: 100%;
    max-width: 46rem;

    margin: 0 auto;
    margin-top: 5.5rem;

    padding: 0 1rem;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 1.5rem;

        div { 
            display: flex;
            align-items: center;
            gap: 12px;
        }

        p{
            font-size: 0.875rem;
            font-weight: 700;
            color: var(--blue);
        }

        p.textPurple{
            color: var(--purple);
        }

        span {
            font-size: 0.75rem;
            font-weight: 700;
            color: var(--gray-200);

            background-color: var(--gray-400);

            padding: 3px 9px;

            border-radius: 999px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
