.tasks {
    width: 100%;
    max-width: 46rem;

    margin: 0 auto;
    margin-top: 5.5rem;

    padding: 0 1rem;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 1.5rem;

        div { 
            display: flex;
            align-items: center;
            gap: 12px;
        }

        p{
            font-size: 0.875rem;
            font-weight: 700;
            color: var(--blue);
        }

        p.textPurple{
            color: var(--purple);
        }

        span {
            font-size: 0.75rem;
            font-weight: 700;
            color: var(--gray-200);

            background-color: var(--gray-400);

            padding: 3px 9px;

            border-radius: 999px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .empty {
            margin-top: 4rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            color: var(--gray-300);
            text-align: center;

            svg {
                opacity: 0.3;
            }

            p {
                font-weight: 700;
                line-height: 22.4px;
            }
        }
    }
}
